<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br/>

    
    <div>

    	<!-- Use Registration Test -->
    	<form method="post" action="/registerUser">
    		<p style="color:green">User Registration Test</p>
    		<p>User ID<input type="text" name="userId"></input></p>
        <p>Registration ID<input type="text" name="registrationId"></input></p>
    		<input type="submit" value="send"></input>
    	</form>
      <hr>

      <!-- Data Delivery TEst -->
      <form method="post" action="/distributeRecipe">
        <p style="color:blue">Receipe Delivery Test</p>
        <p>INFO_TITLE<input type="text" name="info_title" value="栄養まんてん八宝菜！"></input></p>
        <p>INFO_CONTENT<input type="text" name="info_content" value="レシピメール"></input></p>
        <p>INFO_URL<input type="text" name="info_url" value="http://cookpad.com/recipe/2129479"></input></p>
        <input type="submit" value="send"></input>
      </form>
      <hr>

      <!-- Data Delivery TEst -->
      <form method="get" action="/distributeDbRecipe">
        <p style="color:skyblue">DB Receipe Delivery Test</p>
        <input type="submit" value="send"></input>
      </form>
      <hr>

      <!-- Data Delivery Test -->
      <form method="post" action="/registerRecipe">
        <p style="color:orange">Receipe Registration Test</p>
        <p>Receipe URL<input type="text" name="recipe_url" value="http://cookpad.com/recipe/1848124"></input></p>
        <p>Receipe Summary<input type="text" name="recipe_summary" value="美味しい八宝菜！"></input></p>
        <input type="submit" value="send"></input>
      </form>
      <hr>
      
      <!-- Cron Schedule Control -->
      <form method="post" action="/setCronSchedule">
        <p style="color:red">Cron Schedule Control</p>
        <p>Cron Format String<input type="text" name="cron_schedule" value="* * * * *"></input></p>
        <input type="submit" value="set"></input>
      </form>


    </div>
  </body>
</html>