<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br/>
    <div>
    	
    	<form method="post" action="/register">
    		<p>Post Data Test</p>
    		<input type="text" name="postValue1"></input>
    		<input type="submit"> Send </input>
    	</form>
    </div>
  </body>
</html>